
body{
    margin: 0px;
    padding: 0px;
    background-color: #23283e;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.tech_stack{
 font-weight: 610;
 color: rgb(87, 125, 190);
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 font-size: 15px;
}
#myheader{
  
    width: 100%;
  
    /* border: 1px solid gray; */
    display: flex;
    justify-content: space-between;
    align-items: center;
   height: 70px;
   position: fixed;
  top: 0px;
   background-color: white;
  
   
  
}
#javalogo{
    
    margin-top: -50px;
    padding-left: 15%;
   
   
}
#javalogo>img{
    width: 40px;
    position: absolute;
}
#darkmode{
    width: 2.5%;
    cursor: pointer;
    
}
#psc{
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 15%;
    
}
#psc>a{
    margin-right: 20px;
    color: #2978b5;
    cursor: pointer;
    text-decoration: none;
   
}

#namesection{
    width: 70%;
    margin: auto;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
   margin-top: 100px;
}

#name{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    width: 590px;
    
}
#hi{
    color: #444444;
    font-size: 2rem;
}
#pawan{
    color: #2978b5;
    font-size: 2rem;
}
#developer{
    color: #444444;
}

#psc>a:hover{
    display: inline-block;
    position: relative;
    color: #0087ca;
}
#psc>a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  #psc>a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  #summary{
    color: #768da9;
    text-align: justify;
  }
  #linksection{
    display: flex;
    align-items: center;
    position: relative;
  }
  #resume{
   cursor: pointer;
   color: #2978b5;
   text-decoration: none;
  }

  #resume:hover{
    text-decoration: underline;
  }
  #linkedin{
    margin-left: 10px;
    width: 5%;
    height: 5%;
    cursor: pointer;
    
  }
  #git{
    margin-left: 10px;
    width: 4%;
    height: 4%;
    cursor: pointer;
    
  }


  #picture>img{
    width: 250px;
    
  }
  #skill{
    width: 60%;
    margin: auto;
    /* border: 1px solid gray; */
    margin: auto;
    margin-top: 50px;

  }
  #tskill{
    text-align: center;
    color: #444444;
  }

  #tskillgrid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,auto);
    gap: 40px;
    width: 70%;
    padding: 30px;
    margin: auto;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    overflow:  hidden;
    
    
  }
  .tsicons{
    /* border: 1px solid gray; */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    
  }
  .tsicons>img+p{
    text-align: center;
    color: #2978b5;
    
  }
  .tsicons>img{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    
  }
  #tool{
    width: 60%;
    margin: auto;
    margin-top: 50px;
  }
  #ttool{
    text-align: center;
    color: #444444;
  }
  #toolgrid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(1,auto);
    gap: 40px;
    width: 70%;
    padding: 30px;
    margin: auto;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  .tsicons{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
  }

  #project{
    width: 60%;
    margin: auto;
    margin-top: 50px;
  }
  #prjtitle{
    text-align: center;
    color: #444444;
  }
  #projectgrid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,auto);
    gap: 40px;
    width: 70%;
    padding: 30px;
    margin: auto;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    
    
  }
  .prjimage{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
  }
  .prjimage>p+img{
    width: 250px;
    border-radius: 5px;
  }
  .prjimage>p+img+p{
    color: #2978b5;
  }
  .prjimage>:nth-child(1){
    color: #2978b5;
    font-weight: 600;
  }
 
  #contact{
    width: 100%;
   background-color: #dde6ea;
   
   
  }
  
  #c_heading{
    text-align: center;
  }
  #contactlink{
    display: flex;
   align-items: center;
   justify-content: space-evenly;
    width: 48%;
    margin: auto;
  }
  #contactlink>a>p{
    font-weight: bold;
    font-size: 18px;
  }
  #contactlink>a+a>p{
    width: 18%;
  }
  #contactlink>a+a+img{
    width: 4%;
    cursor: pointer;
    
  }
  #linkedincontact{
    width: 5%;
  }
  
  #githubcalender>h3{
    text-align: center;
  }
  
  #softskill{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 5px;
    width: 30%;
   
    margin: auto;
  }
  #sskillheading{
    text-align: center;
    color: #444444;
   
    
  }
  #softskill>div{
    padding: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #768da9;
  }
 #staticheading{
  text-align: center;
  color: #444444;
 }
  #statics{
    width: 47%;
    margin: auto;
   

  }
  #statics>img{
    width: 100%;
  }

  @media all and (min-width:1195px) and (max-width:1330px){
    #project{
      width: 70%;
      margin: auto;
      margin-top: 50px;
    }
    .prjimage>p+img{
      width: 210px;
      
    }
    #softskill{
      width: 35%;
    }
    #statics{
      width: 48%;
    }
   
}

@media all and (min-width:1046px) and (max-width:1194px){
  #project{
    width: 68%;
    
  }
  .prjimage>p+img{
    width: 210px;
    
  }

  #skill{
    width: 46%;
  }
  #name{
    width: 460px;
  }
  #contactlink>a+a+img{
    width: 5%;
  }
  #softskill{
    width: 40%;
  }
  #statics{
    width: 48%;
  }

  
  
}

@media all and (min-width:900px) and (max-width:1045px){
  #project{
    width: 80%;
    
  }
  .prjimage>p+img{
    width: 210px;
    
  }

  #skill{
    width: 80%;
  }
 

  #tool{
    width: 80%;
  }
  #name{
    width: 400px;
  }

  #contactlink>a+a+img{
    width: 6%;
  }
   
  #picture>img{
    width: 230px;
    border-radius: 100px;
    
  }
  #linkedin{
    width: 7%;
    height: 7%; 
  }
  #git{
    width: 6%;
    height: 6%;
    
  }
  #softskill{
    width: 45%;
  }

  #statics{
    width: 62%;
  }
  
  #psc>a{
    margin-right: 13px;
    font-size: 14px;
  }
}

@media all and (min-width:774px) and (max-width:899px){
  #project{
    width: 80%;
    
  }
  
  #projectgrid{
    width: 80%;
  }
  .prjimage>p+img{
    width: 180px;
    
  }

  #skill{
    width: 80%;
  }
  #tskillgrid{
    width: 80%;
  }

  #tool{
    width: 80%;
  }
  #toolgrid{
    width: 80%;
  }

  #name{
    width: 320px;
  }
  #darkmode{
    width: 4%;
  }
  #contactlink>a+a+img{
    width: 6%;
  }

  #picture>img{
    width: 230px;
    
  }

  #linkedin{
    width: 8.5%;
    height: 8.5%; 
  }
  #git{
    width: 7%;
    height: 7%;
    
  }
  #softskill{
    width: 50%;
  }

  #statics{
    width: 72%;
  }
  #psc>a{
    margin-right: 14px;
    font-size: 14px;
  }
  #javalogo{
    padding-left: 10%;
  }
  #psc{
    padding-right: 10%;
  }
  
}

@media all and (min-width:650px) and (max-width:773px){
  #project{
    width: 80%;
    
  }
  #projectgrid{
    width: 80%;
    
  }
  .prjimage>p+img{
    width: 180px;
    
  }

  #skill{
    width: 80%;
  }
  #tskillgrid{
    width: 80%;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
  }

  #tool{
    width: 80%;
  }
  #toolgrid{
    width: 80%;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
  }
  #name{
    width: 230px;
  }

  #picture>img{
    width: 220px;
  }

  #hi{
    font-size: 1.4rem;
  }

  #pawan{
    font-size: 1.4rem;
  }

  #developer{
    font-size: 1rem;
  }
  #darkmode{
    width: 4%;
  }

  #contactlink>a+a+img{
    width: 7%;
  }
  #linkedin{
    width: 9.5%;
    height: 9.5%; 
  }
  #git{
    width: 8%;
    height: 8%;
    
  }
  #softskill{
    width: 55%;
  }
  #statics{
    width: 72%;
  }
  #psc>a{
    margin-right: 14px;
    font-size: 13px;
  }
  
}

/* @media all and (min-width:480px) and (max-width:649px){
  #project{
    width: 80%;
    
  }
  #projectgrid{
    width: 80%;
    width: 80%;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(2,1fr);
    
  }
  .prjimage>p+img{
    width: 280px;
    
  }

  #skill{
    width: 80%;
  }
  #tskillgrid{
    width: 80%;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
  }

  #tool{
    width: 80%;
  }
  #toolgrid{
    width: 80%;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
  }

  #darkmode{
    width: 4%;
  }
  #name{
    width: 200px;
  }

  #picture>img{
    width: 160px;
  }

  #hi{
    font-size: 1.4rem;
  }

  #pawan{
    font-size: 1.4rem;
  }

  #developer{
    font-size: 1rem;
  }

  #contactlink>a+a+img{
    width: 9%;
  }

  #linkedin{
    width: 10.5%;
    height: 10.5%; 
  }
  #git{
    width: 9%;
    height: 9%;
    
  }
  #softskill{
    width: 55%;
  }
  #statics{
    width: 83%;
  }
  
} */

@media all and (min-width:480px) and (max-width:649px){
  #project{
    width: 90%;
    
  }
  #psc>a{
    margin-right: 11px;
    font-size: 12px;
  }
  #projectgrid{
    width: 80%;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(2,1fr);
    
  }
  
  #skill{
    width: 90%;
  }
  #tskillgrid{
    width: 80%;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(4,1fr);
  }

  #tool{
    width: 90%;
  }
  #toolgrid{
    width: 80%;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
  }

  #darkmode{
    width: 4%;
  }
  #name{
    width: 240px;
  }

  #hi{
    font-size: 1.4rem;
  }

  #pawan{
    font-size: 1.4rem;
  }

  #developer{
    font-size: 1rem;

  }

  #contactlink>a+a+img{
    width: 9%;
  }
  
  #namesection{
    width: 90%;
  }

  #name{
    width: 230px;
  }

  #picture>img{
    width: 220px;
  }

  #softskill{
    width: 60%;
  }
  #softskill>div{
   font-size: 14px;
   
  }
  #statics{
    width: 83%;
  }
  #javalogo{
    padding-left: 5%;
  }
  #psc{
    padding-right: 5%;
  }
}

@media all and (min-width:100px) and (max-width:480px){
  #project{
    width: 90%;
    
  }
  #projectgrid{
    width: 80%;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(2,1fr);
    
  }
  .prjimage>p+img{
    width: 250px;
  }
  #skill{
    width: 90%;
  }
  #tskillgrid{
    width: 80%;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(4,1fr);
  }

  #tool{
    width: 90%;
  }
  #toolgrid{
    width: 80%;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
  }

  #darkmode{
    width: 3%;
  }

  #javalogo{
    margin-top: -19px;
    margin-left: -300px;
  }
  #name{
    width: 210px;
  }

  #hi{
    font-size: 1.0rem;
  }

  #pawan{
    font-size: 1.0rem;
  }

  #developer{
    font-size: 0.8rem;

  }
  #psc>a{
    margin-right: 22px;
    font-size: 14px;
  }
  

  #contactlink>a+a+img{
    width: 10%;
  }

  
  #namesection{
    width: 90%;
  }

  #name{
    width: 180px;
  }

  #picture>img{
    width: 180px;
  }

  #linkedin{
    width: 10.5%;
    height: 10.5%; 
  }
  #git{
    width: 9%;
    height: 9%;
    
  }
  #softskill{
    width: 70%;
  }
  #softskill>div{
   font-size: 12px;
   padding: 7px;
  }

  #statics{
    width: 85%;
  }
  #myheader{
    padding-left: 10%;
  }

}


@media all and (min-width:450px) and (max-width:464px){
  #psc>a{
    margin-right: 20px;
    font-size: 14px;
  }
}
@media all and (min-width:439px) and (max-width:451px){
  #psc>a{
    margin-right: 19px;
    font-size: 14px;
  }
}

@media all and (min-width:415px) and (max-width:438px){
  #psc>a{
    margin-right: 19px;
    font-size: 13px;
  }
}

@media all and (min-width:100px) and (max-width:414px){
  #psc>a{
    margin-right: 17px;
    font-size: 13px;
  }
}
.sourcecode{
 width: 10%;
 cursor: pointer;

}
.gitlink{
  width: 10%;
  cursor: pointer;
}

.gitAndnetlify{
  display: flex;
  align-items: center;
  justify-content: space-around;

}



:root {
  --color-calendar-graph-day-bg: #dddbdb;
  --color-calendar-graph-day-L1-bg: #39dd34;
  --color-calendar-graph-day-L2-bg: #45a045;
  --color-calendar-graph-day-L3-bg: #047526;
  --color-calendar-graph-day-L4-bg: #0a4208;
}

rect.ContributionCalendar-day[data-level='0'] {
    fill: var(--color-calendar-graph-day-bg);
}

rect.ContributionCalendar-day[data-level='1'] {
    fill: var(--color-calendar-graph-day-L1-bg);
}

rect.ContributionCalendar-day[data-level='2'] {
    fill: var(--color-calendar-graph-day-L2-bg);
}

rect.ContributionCalendar-day[data-level='3'] {
    fill: var(--color-calendar-graph-day-L3-bg);
}

rect.ContributionCalendar-day[data-level='4'] {
    fill: var(--color-calendar-graph-day-L4-bg);
}

.calendar .width-full > .float-left {
    display: none;
}

.calendar {
    font-family: Helvetica, arial;
    border: 1px solid #DDDDDD;
    border-radius: 3px;
    min-height: 243px;
    text-align: center;
    margin: 0 auto;
}

.calendar-graph text.wday,
.calendar-graph text.month {
    font-size: 10px;
    fill: #aaa;
}

.contrib-legend {
    text-align: right;
    padding: 0 14px 10px 0;
    display: inline-block;
    float: right;
}

.contrib-legend .legend {
    display: inline-block;
    list-style: none;
    margin: 0 5px;
    position: relative;
    bottom: -1px;
    padding: 0;
}

.contrib-legend .legend li {
    display: inline-block;
    width: 10px;
    height: 10px;
}

.text-small {
    font-size: 12px;
    color: #767676;
}

.calendar-graph {
    padding: 5px 0 0;
    text-align: center;
}

.contrib-column {
    padding: 15px 0;
    text-align: center;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    font-size: 11px;
}

.contrib-column-first {
    border-left: 0;
}

.table-column {
    display: table-cell;
    width: 1%;
    padding-right: 10px;
    padding-left: 10px;
    vertical-align: top;
}

.contrib-number {
    font-weight: 300;
    line-height: 1.3em;
    font-size: 24px;
    display: block;
    color: #333;
}

.calendar img.spinner {
    width: 70px;
    margin-top: 50px;
    min-height: 70px;
}

.monospace {
    text-align: center;
    color: #000;
    font-family: monospace;
}

.monospace a {
    color: #1D75AB;
    text-decoration: none;
}

.contrib-footer {
    font-size: 11px;
    padding: 0 10px 12px;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
    height: 26px;
}

.left.text-muted {
    float: left;
    margin-left: 9px;
    color: #767676;
}
.left.text-muted a {
    color: #4078c0;
    text-decoration: none;
}
.left.text-muted a:hover,
.monospace a:hover {
    text-decoration: underline;
}

h2.f4.text-normal.mb-3 {
    display: none;
}

.float-left.text-gray {
    float: left;
}
#user-activity-overview{
    display:none;
}

.day-tooltip {
    white-space: nowrap;
    position: absolute;
    z-index: 99999;
    padding: 10px;
    font-size: 12px;
    color: #959da5;
    text-align: center;
    background: rgba(0,0,0,.85);
    border-radius: 3px;
    display: none;
    pointer-events: none;
}
.day-tooltip strong {
    color: #dfe2e5;
}
.day-tooltip.is-visible {
    display: block;
}
.day-tooltip:after {
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 5px;
    height: 5px;
    box-sizing: border-box;
    margin: 0 0 0 -5px;
    content: " ";
    border: 5px solid transparent;
    border-top-color: rgba(0,0,0,.85)
}

text.ContributionCalendar-label {
    fill: #ccc;
    font-size: 11px;
}

#githubcalender{
  width: 60%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  border: 1px solid gray;

}
