
body{
    margin: 0px;
    padding: 0px;
    background-color: #23283e;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.project-tech-stack{
 font-weight: 610;
 color: rgb(87, 125, 190);
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 font-size: 15px;
 margin-top: 5px;
}
#nav-menu{
  
    width: 100%;
  
    /* border: 1px solid gray; */
    display: flex;
    justify-content: space-between;
    align-items: center;
   height: 70px;
   position: fixed;
  top: 0px;
   background-color: white;
  z-index: 1;
   
  
}
#gitimg{
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

  #gitimg1{
    height: 195px;
  }
  #gitimg2{
    height: 195px;
   
  }
#githubcalender{
  width: 70%;
  
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;

}
#javalogo{
    
    margin-top: -50px;
    padding-left: 15%;
   
   
}
#javalogo>img{
    width: 40px;
    position: absolute;
}
#darkmode{
    width: 2.5%;
    cursor: pointer;
    
}
#psc{
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 15%;
    
}
#psc>a{
    margin-right: 20px;
    color: #2978b5;
    cursor: pointer;
    text-decoration: none;
   
}

#home{
    width: 70%;
    margin: auto;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
   margin-top: 100px;
   
}

#name{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    width: 590px;
    
   
    
}
#user-detail-name{
    color: #444444;
    font-size: 2rem;
}
#pawan{
    color: #2978b5;
    font-size: 2rem;
}
#user-detail-intro{
    color: #444444;
    margin-top: -15px;
}

#psc>a:hover{
    color: #0087ca;
    text-decoration: underline;
    
}
/* #psc>a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }*/
  
  

   
  #linksection{
    margin-top: 3px;
    display: flex;
    align-items: center;
    position: relative;
    margin-top: -15px;
  }
  #resume-link-1{
   cursor: pointer;
   color: #2978b5;
   text-decoration: underline;
  }
  #dicon{
    margin-left: 3px;
    font-weight: bolder;
   font-size: 17px;
  }
  
  #linkedin{
    margin-left: 10px;
    width: 5%;
    height: 5%;
    cursor: pointer;
    
  }
  
  #github{
    margin-left: 10px;
    width: 4%;
    height: 4%;
    cursor: pointer;
    
  }


  #picture>img{
    width: 250px;
    
  }
  #about{
    width: 70%;
    margin: auto;
    margin-top: 50px;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  }
  #about>h2{
    text-align: center;
    font-family: Candara;
    
  }
  #about_me{
    text-align: center;
    font-size: 17px;
    margin: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    word-break: break-all;
   
   
    
  }
  #resume-button-2{
    border: 1px solid blue;
    border-radius: 3px;
    
  }
  #skills{
    width: 60%;
    margin: auto;
    /* border: 1px solid gray; */
    margin: auto;
    margin-top: 50px;

  }
  #tskill{
    text-align: center;
    color: #444444;
  }

  #tskillgrid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,auto);
    gap: 40px;
    width: 70%;
    padding: 30px;
    margin: auto;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    overflow:  hidden;
    
    
  }
  .skills-card{
    /* border: 1px solid gray; */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    
  }
  .skills-card>img+p{
    text-align: center;
    color: #2978b5;
    
  }
  .skills-card>img{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    
  }
  #tool{
    width: 60%;
    margin: auto;
    margin-top: 50px;
  }
  #ttool{
    text-align: center;
    color: #444444;
  }
  #toolgrid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(1,auto);
    gap: 40px;
    width: 70%;
    padding: 30px;
    margin: auto;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  .skills-card{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
  }

  #project{
    width: 50%;
    margin: auto;
    margin-top: 50px;
  }
  #prjtitle{
    text-align: center;
    color: #444444;
  }
  #projectgrid{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,auto);
    gap: 40px;
    width: 100%;
    padding: 30px;
    margin: auto;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    
    
  }
  .project-card{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .project-card>p+img{
    width: 100%;
    border-radius: 5px;
  }
  .project-card>p+img+p{
    color: #2978b5;
    text-align: justify;
   word-break: break-all;
  }
  .project-card>:nth-child(1){
    color: #2978b5;
    font-weight: 600;
  }
 
  #contact{
    width: 100%;
   background-color: #dde6ea;
   
   
  }
  
  #c_heading{
    text-align: center;
  }
  #contactlink{
    display: flex;
   align-items: center;
   justify-content: space-evenly;
    width: 48%;
    margin: auto;
  }
  #contact-github{
    width: 4%;
  }
  #contact-phone{
    font-size: 22px;
  }
  #contact-email{
    font-size: 22px;
  }
  #contact-linkedin{
    width: 4.5%;
  }
  #linkedincontact{
    width: 5%;
  }
  
  #githubcalender>h3{
    text-align: center;
  }
  
  #softskill{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 5px;
    width: 30%;
   
    margin: auto;
  }
  #sskillheading{
    text-align: center;
    color: #444444;
   
    
  }
  #softskill>div{
    padding: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #768da9;
  }
 #staticheading{
  text-align: center;
  color: #444444;
  margin-top: 50px;
 }
  #statics{
    width: 47%;
    margin: auto;
   

  }
  #statics>img{
    width: 100%;
  }
  
  @media all and (min-width:1195px) and (max-width:1330px){
    #project{
      width: 55%;
      margin: auto;
      margin-top: 50px;
    }
    .project-card>p+img{
      width: 260px;
      
    }
    #softskill{
      width: 35%;
    }
    #statics{
      width: 48%;
    }
    #githubcalender{
      width: 75%;
    
    }
    #gitimg1{
      height: 185px;
    }
    #gitimg2{
      height: 185px;
     
    }
   
}

@media all and (min-width:1046px) and (max-width:1194px){
  #project{
    width: 57%;
    
  }
  

  #skills{
    width: 46%;
  }
  #name{
    width: 460px;
  }
  
  #softskill{
    width: 40%;
  }
  #statics{
    width: 48%;
  }

  #githubcalender{
    width: 80%;
  
  }
  #gitimg1{
    height: 183px;
  }
  #gitimg2{
    height: 183px;
   
  }
  #github{
    width: 6%;
    height: 6%;
  }
  #linkedin{
    width: 7%;
    height: 7%;
  }
  
}

@media all and (min-width:900px) and (max-width:1045px){
  #project{
    width: 65%;
    
  }


  #skills{
    width: 80%;
  }
 

  #tool{
    width: 80%;
  }
  #name{
    width: 450px;
  }
  #user-detail-intro{
    font-size: 20px;
  }

  #contact-github{
    width: 5%;
  }
  #contact-linkedin{
    width: 5.5%;
  }
   
  #picture>img{
    width: 230px;
    border-radius: 100px;
    
  }
  #linkedin{
    width: 7%;
    height: 7%; 
  }
  #git{
    width: 6%;
    height: 6%;
    
  }
  #softskill{
    width: 45%;
  }

  #statics{
    width: 62%;
  }
  
  #psc>a{
    margin-right: 13px;
    font-size: 14px;
  }
  #githubcalender{
    width: 85%;
  
  }
  #gitimg{
    width: 100%;
  }
  #gitimg1{
    height: 165px;
  }
  #gitimg2{
    height: 165px;
   
  }
  #github{
    width: 6%;
    height: 6%;
  }
  #linkedin{
    width: 7%;
    height: 7%;
  }
}

@media all and (min-width:774px) and (max-width:899px){
  #project{
    width: 69%;
    
  }

  #skills{
    width: 80%;
  }
  #tskillgrid{
    width: 80%;
  }

  #tool{
    width: 80%;
  }
  #toolgrid{
    width: 80%;
  }
  #home{
    width: 80%;
  }
  #about{
    width: 80%;
  }
  #name{
    width: 320px;
  }
  #darkmode{
    width: 4%;
  }
  #contact-github{
    width: 6%;
  }
  #contact-linkedin{
    width: 6.5%;
  }

  #picture>img{
    width: 230px;
    
  }

  #github{
    width: 7%;
    height: 7%;
  }
  #linkedin{
    width: 8%;
    height: 8%;
  }
  #softskill{
    width: 50%;
  }

  #statics{
    width: 72%;
  }
  #psc>a{
    margin-right: 14px;
    font-size: 14px;
  }
  #javalogo{
    padding-left: 10%;
  }
  #psc{
    padding-right: 10%;
  }
  #githubcalender{
    width: 90%;
  
  }
  #gitimg{
    width: 100%;
  }
  #gitimg1{
    height: 156px;
  }
  #gitimg2{
    height: 156px;
   
  }
  
}

@media all and (min-width:650px) and (max-width:773px){
  #project{
    width: 80%;
    
  }

  #skills{
    width: 80%;
  }
  #tskillgrid{
    width: 80%;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
  }

  #tool{
    width: 80%;
  }
  #toolgrid{
    width: 80%;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
  }
  #name{
    width: 300px;
  }
  #home{
    width: 80%;
  }
  #about{
    width: 80%;
  }
  #picture>img{
    width: 220px;
  }

  #pawan{
    font-size: 1.4rem;
  }

  #user-detail-intro{
    font-size: 1rem;
  }
  #darkmode{
    width: 4%;
  }
  #contact-github{
    width: 6%;
  }
  #contact-linkedin{
    width: 6.5%;
  }
  #contact-phone{
    font-size: 20px;
  }
  #contact-email{
    font-size: 20px;
  }
  #github{
    width: 7%;
    height: 7%;
  }
  #linkedin{
    width: 9%;
    height: 9%;
  }
  #softskill{
    width: 55%;
  }
  #statics{
    width: 72%;
  }
  #psc>a{
    margin-right: 14px;
    font-size: 13px;
  }
  #githubcalender{
    width: 95%;
  
  }
  #gitimg{
    width: 100%;
  }
  #gitimg1{
    height: 138px;
  }
  #gitimg2{
    height: 138px;
   
  }
  
  
}



@media all and (min-width:480px) and (max-width:649px){
  #project{
    width: 90%;
    
  }
  #psc>a{
    margin-right: 11px;
    font-size: 11px;
  }
  #projectgrid{
    width: 80%;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(2,1fr);
    
  }
  
  #skills{
    width: 90%;
  }
  #tskillgrid{
    width: 80%;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(4,1fr);
  }

  #tool{
    width: 90%;
  }
  #toolgrid{
    width: 80%;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
  }

  #darkmode{
    width: 4%;
  }
  #name{
    width: 240px;
  }

  #user-detail-name{
    font-size: 1.4rem;
  }

  #pawan{
    font-size: 1.4rem;
  }

  #user-detail-intro{
    font-size: 1rem;

  }
  #contact-github{
    width: 7%;
  }
  #contact-linkedin{
    width: 7.5%;
  }
  #contact-phone{
    font-size: 20px;
  }
  #contact-email{
    font-size: 20px;
  }
  
  #home{
    width: 90%;
  }
  #about{
    width: 90%;
  }

  #name{
    width: 230px;
  }

  #picture>img{
    width: 220px;
  }

  #softskill{
    width: 60%;
  }
  #softskill>div{
   font-size: 14px;
   
  }
  #statics{
    width: 83%;
  }
  #javalogo{
    padding-left: 5%;
  }
  #psc{
    padding-right: 5%;
  }
  #githubcalender{
    width: 100%;
    
  }
  #gitimg{
    width: 100%;
  }
  #gitimg1{
    
    height: 122px;

  }
  #gitimg2{
    height: 122px;
   
  }
  #github{
    width: 9%;
    height: 9%;
  }
  #linkedin{
    width: 11%;
    height: 11%;
  }
}

@media all and (min-width:100px) and (max-width:480px){
  #project{
    width: 90%;
    
  }
  #projectgrid{
    width: 80%;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(2,1fr);
    
  }

  #skills{
    width: 90%;
  }
  #tskillgrid{
    width: 80%;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(4,1fr);
  }

  #tool{
    width: 90%;
  }
  #toolgrid{
    width: 80%;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
  }

  #darkmode{
    width: 3%;
  }

  #javalogo{
    margin-top: -19px;
    margin-left: -300px;
  }
  
  #psc>a{
    margin-right: 22px;
    font-size: 14px;
  }
  
  #contactlink{
    width: 90%;
  }
  #contact-github{
    width: 6%;
  }
  #contact-linkedin{
    width: 6.5%;
  }
  #contact-phone{
    font-size: 20px;
  }
  #contact-email{
    font-size: 20px;
  }

  
  #home{
    width: 90%;
    display: flex;
    flex-direction: column-reverse;
  }
  #about{
    width: 90%;
  }

  #name{
    width: 90%;
    text-align: justify;
  }
  #user-detail-name{
    font-size: 20px;
   
  }
  #name>h1{
    text-align: center;

  }
  #user-detail-intro{
    font-size: 0.8rem;
    text-align: center;
    margin-top: -15px;
  }
  #pawan{
    font-size: 20px;
    
  }
  #user-detail-intro{
    font-size: 15px;
  }
  

  #picture>img{
    width: 300px;
  }
  #softskill{
    width: 70%;
  }
  #softskill>div{
   font-size: 12px;
   padding: 7px;
  }

  #statics{
    width: 85%;
  }
  #nav-menu{
    padding-left: 10%;
  }
  #githubcalender{
    width: 100%;
    
  }
  #gitimg{
    width: 100%;
  }
  #gitimg1{
    height: 93px;
  }
  #gitimg2{
    height: 93px;
   
  }
  #linksection{
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    margin-top: 3px;
  }
  #github{
    width: 15%;
    height: 15%;
    margin-left: 5px;
  }
  #linkedin{
    width: 17%;
    height: 17%;
    margin-left: 5px;
  }
}


@media all and (min-width:450px) and (max-width:464px){
  #psc>a{
    margin-right: 20px;
    font-size: 14px;
  }
}
@media all and (min-width:439px) and (max-width:451px){
  #psc>a{
    margin-right: 19px;
    font-size: 14px;
  }
}

@media all and (min-width:415px) and (max-width:438px){
  #psc>a{
    margin-right: 19px;
    font-size: 13px;
  }
}

@media all and (min-width:100px) and (max-width:414px){
  #psc>a{
    margin-right: 17px;
    font-size: 13px;
  }
}
.project-deployed-link{
 width: 10%;
 cursor: pointer;

}
.project-github-link{
  width: 10%;
  cursor: pointer;
}

.gitAndnetlify{
  display: flex;
  align-items: center;
  justify-content: space-around;

}





